<form action="/subscribe" method="post">
    <input type="text" name="name" placeholder="Name">
    <br>
    <input type="text" name="email" placeholder="Email">
    <br>
    <input type="number" name="zipCode" placeholder="Zip Code"
   ➥ pattern="[0-9]{5}">
   <br>
   <input type="submit" name="submit">
   </form>